<div id="admin">
    <h1>Admin</h1>

                 <div id="newArticle" class="panel-collapse collapse in">

                    <div class="row hidden-sm hidden-xs">
                        <div class="col-lg-6">
                            <form class="form-horizontal" >
                                <div class="form-group">
                                    <label for="title" class="control-label">Title:</label>
                                    <input type="text" class="form-control" id="title" ng-model="title" />
                                </div>
                                <div class="form-group">
                                    <label for="author" class="control-label">Author: </label>
                                    <input type="text" id="author" class="form-control" ng-model="author" />
                                </div>
                                <div class="form-group">
                                    <label for="tags" class="control-label">Tags: </label>
                                    <input type="text" id="tags" class="form-control" ng-model="tags" />
                                </div>

                                <div class="form-group">
                                    <label for="content" class="control-label">Content:</label>
                                    <textarea id="content" rows="20" cols=120 class="form-control" ng-model="markdownBox">{{markdownBox}}</textarea>
                                </div>
                                <br>

                                <button type="" class="btn btn-primary blog-primary-btn" ng-click="search()">Find</button>
                                <button type="" class="btn btn-primary blog-primary-btn" ng-click="preview()">Prepare</button>
                                <button type="" class="btn btn-success blog-success-btn" ng-click="submit()">Submit</button>
                            </form>
                        </div>

                        <div class="col-lg-6">
                            <label for="html-code">HTML text:</label>
                            <pre id="html-code">
                                <code>{{html.content}}</code>
                            </pre>
                            <br>
                            <br>
                            <label for="html">Preview:</label>
                            <br>
                            <h1>{{title}}</h1>
                            <p>Posted on <i>{{date | date:medium}}</i> by <strong>{{author}}</strong></p>
                            <button class="btn btn-default" ng-repeat="tag in article.tags" ng-disabled="true">{{ tag }}</button>
                            <br>
                            <div id="html" ng-bind-html="html.content"></div>
                        </div>
                    </div> <!-- row lg-col -->

                 </div> <!-- new article -->

</div> <!-- admin -->