<div ng-repeat="post in articles" >
    <h1><a href="/articles/{{post.year}}/{{post.title}}">{{post.dispTitle}}</a></h1>
    <p>Posted on <i>{{post.date | date:medium}}</i> by <strong>{{post.author}}</strong></p>
    <!-- Fix automatic newline appending here...-->
    <button class="btn btn-default" ng-repeat="tag in post.tags" ng-disabled="true">{{ tag }}</button>
    <br>
    <div ng-bind-html="post.preview">
    </div>
    <a href="/articles/{{post.year}}/{{post.title}}">Read more</a>
    <hr>
    <br>
    <br>
</div>